binds {
    Super+A hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Alt+Down hotkey-overlay-title="Move Column to Monitor Down" { move-column-to-monitor-down; }
    Mod+Alt+Left { move-column-to-monitor-left; }
    Mod+Alt+Right { move-column-to-monitor-right; }
    Mod+Alt+Up { move-column-to-monitor-up; }
}
