snippet ktext "Add Kendo Horizontal Text Field with Label"
<kendo-formfield [orientation]="'horizontal'">
	<kendo-label [for]="${1}">${0}$1</kendo-label>
	<kendo-textbox
		#$1
		formControlName="$1"
		>
	</kendo-textbox>
</kendo-formfield>
endsnippet
